.about{
    width: 100%;
    font-size: 1.5vw;
    margin: 7% 0% 7% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#description{
    min-height: 20vw;
    max-width: 40vw;
     color: aliceblue;
    border-radius: 10px;
    list-style: none;  
    padding-top:5vw;
}
#a1{
    font-size: 3.8em;
    font-weight: 600;
}
#a2{
    font-size: 1.4em;
    font-weight: 600;
}
.but-set button{
    font-weight: 600;
   padding:10px 20px 10px 15px;
   margin: 4% 5% 0% 0%;
   border-radius: 5px;
   border: 0px ;
   cursor: pointer;
}
.about img{
    width: 35vw;
}

@media(max-width:680px){
    .about{
        font-size: 2.2vw;
    }
    .about img{
        width: 40vw;
    }
    #line{
        display: none;
    }
    #description{
        min-height: 20vw;
        max-width: 45vw;
    }
    #a1{
        font-size: 1.5rem;
    }
}