.skil{
    width: 100%;
    /* margin: 100px 100px 0px 0px; */
    display:flex ;
    align-items: center;
    flex-direction: column;
    font-size: 1vw
}
.skillset{
    margin-top: 3vw;
    width: 50vw;
    gap: 3vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.skillset div img{
    width: 6vw;
    height: 6vw;
    border-radius: 75px;
    margin-bottom: 10px;
}
#s1{
    width: 100%;
    text-align: start;
    font-size: 3.5em;
    color: white;
    padding-left: 3em;
}

@media (max-width:680px){
    .skil{
        font-size: 2.5vw;
    }
    .skillset div img{
        width: 13vw;
        height: 13vw;
    }
    #s1{
        font-size: 2.3em;
        padding-left: 1.4em;
    }
}