#light{
  background-color: #e092b5bd;
}
#dark{
  background-color: #000000;
}
.switch{
  position: absolute;
  left: 92%;
  top: -7%;

}
.App{
  position: relative;
    background-color: #dcacc2;
    /* background-color: #101010; */
}
.page{
    height: 100vh;
    width: 100vw;
    background-image: url(skate-removebg.png);
    background-repeat: no-repeat; 
    background-position-y: 1%;
    background-position-x: 10%;
   background-size:90vw 170vh ;       
}

.social-container {
  color: white;
  opacity: 90%;
  background-color: rgba(198, 144, 190, 0.128);
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-container h3{
  opacity: 80%;
 text-align: center;
 font-size: 33px;
}
a.social {
  padding-top: 20px;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #0d0d0d;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
color: grey;
}